body {
    background: url(../images/wallpaper.png) fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    position: absolute;
    margin: 0 auto;
}

#container {
    position: absolute;
    margin: auto 360;
}

li {
    position: relative;
    list-style-type: none;
    display: inline;
    padding: 50px 50px 50px 50px;
    float:left;
    top: 290;
    left: 405;
}

.ExternalLinks{
    left: -130px;
    top: 500;
    padding: 20;
}

.iconSize {
    height: 50px;
    width: 50px;
}

.iStockPhoto{
    left: -480px;
    top: 570;
    padding: 20;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.hvr-grow:active {
    transform: translateY(4px);
}

#category {
    position: absolute;
    margin: auto 301;
}