html {
    background: #e97f00;
    background-position: center;
}

html, body {
    height: 100%;
}

html.nature {
    background: #39B54A;
}

html.astro {
    background: #00056B;
}

div.img {
    float: left;
    width:  300px;
    height: 200px;
}

div.img img {
    width: 100%;
    height: auto;
}